.site {
	font: 62.5%/100% "Helvetica Neue", arial, helvetica, sans-serif;
	color: #566579;
}

fieldset {
	border: 2px solid #566579;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-bottom: 10px;
}

h1 {
	font: 2.8em/2.25em "Trebuchet MS", helvetica, arial, sans-serif;
	background: url('logo.png') left center no-repeat;
	padding-left: 60px;
	padding-bottom: 7px;
	border-top: 3px solid #566579;
	border-bottom: 3px solid #566579;
}

legend {
	font: 2em/1.333em "Trebuchet MS", helvetica, arial, sans-serif;
	padding: 6px;
}

.fset {
	padding: 5px 0;
	border-bottom: 1px solid #C0C0C0;
}

.fset:last-child {
	border-bottom-width: 0;
}

.fset:hover {
	background-color: #F0F0F0;
}

.fset label {
	display: block;
	width: 200px;
	text-align: right;
	margin-top: 7px;
	float: left;
	font-size: 1.2em;
	font-weight: bold;
}

.fset input, .fset select {
	margin-left: 10px;
}

.fset input {
	width: 20em;
}

.fset span {
	display: block;
	margin-top: 5px;
	margin-left: 210px;
	font-size: 1.1em;
}

input.submit {
	padding: 7px;
	background-color: #F0F5FA;
	font-size: 1.7em;
	font-weight: bold;
	margin-top: 15px;
	margin-left: 220px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.message {
	border: 1px solid #566579;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #FFFFC6;
}

.message p {
	font-size: 1.3em;
	margin: 10px;
}